body {
    margin: 0;
}
#picture-canvas-container {
  display: inline-block;
}
#picture-canvas-container canvas {
  width: 100%;
  cursor: crosshair;
  position: relative;
  z-index: 2;
}
#picture-canvas-container img {
  z-index: 1;
  width: 1000px;
  height: 600px;
  left: 0;
  top: 0;
  position: absolute;
}
